* {
    margin: 0;
    padding: 0;
}

h1 {
    color: hsl(212, 21%, 14%);
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: hsl(30, 38%, 92%);
}

.container {
    width: 600px;
    height: 450px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    transition: 1.05s;
}

.img {
    width: 300px;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background-image: url(./images/image-product-desktop.jpg);
    background-size: contain;
}

.content {
    position: relative;
    left: 35px;
    top: 33px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 35%;
}

.price {
    display: flex;
    align-items: center;
    gap: 15px;
}

h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 800;
    color: hsl(158, 36%, 37%);
}

.logo {
    letter-spacing: 7px;
    text-transform: uppercase;
}

p,
span {
    color: hsl(228, 12%, 48%);
}

.content a {
    text-decoration: none;
    color: white;
    background-color: hsl(158, 36%, 37%);
    width: 230px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 500;
    transition: 1.05s;
}

.content a:hover {
    background: rgb(7, 67, 7);
}

.attribution {
    position: absolute;
    bottom: 0;
    word-spacing: 20px;
}

@media (max-width:650px) {
    .container {
        flex-direction: column;
        width: 350px;
        height: 700px;
    }

    .img {
        background: url(./images/image-product-mobile.jpg);
        width: 100%;
        height: 35%;
        background-size: contain;
        border-radius: 12px 12px 0 0;
    }

    .content {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 25px;
        position: relative;
        right: 0;
        left: 18px;
        top: 15px;
        width: 405px;
    }

    h1,
    .price,
    .content a {
        margin: 0 10px;
        width: 60%;
    }

    .content a {
        width: 70%;
        margin-right: 10px;
    }
    p{
        width: 66%;
    }
}
